/*
 * Empty Stylesheet file.
*/

#shapeListContainerScrolPane {
    -fx-border-radius: 0;
    -fx-border-insets: 0;
    -fx-border-color: #D7D7D7;
    -fx-border-width:  1 1 1 1;
}

#shapeListContainer {
    -fx-background-color: #FFFFFF00;
}

#footerContainer {
    -fx-background-color: linear-gradient(to bottom, #F9F9F9, #E7E7E7);
    -fx-border-radius: 0;
    -fx-border-insets: 1;
    -fx-border-color: #D7D7D7;
    -fx-border-width:  1 0 0 0;
}

#shapeLineButton {
  -fx-graphic: url("../../images/shapeLine.png");
}

#shapeCircleButton {
  -fx-graphic: url("../../images/shapeCircle.png");
}

#shapeTriangleButton {
  -fx-graphic: url("../../images/shapeTriangle.png");
}

#shapeSquareButton {
  -fx-graphic: url("../../images/shapeSquare.png");
}

#shapeCrookedLineButton {
  -fx-graphic: url("../../images/shapeCrookedLine.png");
}

#shapePolygonButton {
  -fx-graphic: url("../../images/shapePolygon.png");
}

.palet-button {
     -fx-pref-width: 32px;
/*     -fx-max-width: 32px;
     -fx-min-width: 50px;*/
     -fx-pref-height: 32px;
/*     -fx-max-height: 32px;
     -fx-min-height: 50px;*/
}

.shapeListItem {
    -fx-border-radius: 0;
    -fx-border-insets: 0;
    -fx-border-color: #D7D7D7;
    -fx-border-width:  1 1 1 1;
}

.shapeListItem:hover,
.shapeListItem:pressed {
    -fx-border-radius: 0;
    -fx-border-insets: 0;
    -fx-border-color: #A0A0A0;
    -fx-border-width:  1 1 1 1;
}